<body class ="image responsive showuser-bg">
  <div class = "row">
    <div class ="col-md-3 text-center">
      <%= image_tag @user.profile.avatar.url, class: 'user-show-avatar' %>
    </div>
      <div class ="col-md-6 text-center">
        <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
        
      <%= @user.profile.job_title %></h3>
      <div class="well profile-block profile-description text-center">
        <h3>Description</h3>
        </hr>
        <%= @user.profile.description %>
      </div>
      <% if true#current_user.plan_id == 2 %>
        <div class="well profile-block contact-info">
          <h3>Contact Info</h3>
          
          <p><strong>Phone Number</strong>: <%= @user.profile.phone_number %></p>
          <p><strong>Email</strong>: <%= @user.profile.contact_email %> </p>
        </div>
      <% end %>
  
    </div>
    </div>
  </div>
</body>


