<body class ="image responsive home-bg">
  <div class="jumbotron text-center well col-md-8 col-md-offset-2">
      <h1>Welcome to Blue Dives</h1>
      <h3>Where divers find the best dive sites.</h3>
    
  </div>
  <div class="row text-center">
    
    <% if user_signed_in? %>
      <div class ="col-md-6">
        <div class="well">
          <h2 class="text-center">Your Profile</h2>
          
            <% if current_user.profile %>
              <%= link_to "Edit", edit_user_profile_path(current_user), class: 'btn btn-default btn-lg ' %>
            <%= link_to "View", user_path(current_user), class: 'btn btn-default btn-lg ' %>
              
            <% else %>
            <p>Start off right by creating your profile!</p>
              <%= link_to "Create", new_user_profile_path(current_user), class: 'btn btn-default btn-lg '  %>
            <% end %>
          </div>
        </div>
        
        <div class ="col-md-6">
          <div class="well">
            <h2 class="text-center">The Community</h2>
              <p> Meet dive enthusiasts and professionals! </p>
            <%= link_to "Visit", users_path, class: 'btn btn-default btn-lg ' %>
            </div>
        </div>
    <% else %>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Scuba Divers</h2>
          <h4>Discover the world's best dive sites and share your underwater experiences.</h4>
          
          <br/>
          <%= link_to "Sign Up", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
          
          <div class="small-little"> It's free and always will be. </div>
        </div>
        
        
      </div>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Scuba Schools</h2>
          <h4>Be listed on the most exclusive and international diving platform.</h4>
          <br/>
          <%= link_to "Sign Up", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
          <div class="small-little"> Plans start at only $9.99 per month. </div>
        </div>
      </div>
    <% end %>
    <div class="row">

    </div>
  </div>
</body>